@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1;
    word-break: keep-all;
    color: #222;

    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

address, em {
    font-style: normal;
}

strong, b {
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}

button, input, textarea {
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}