#header h1 {
    flex: 0 0 320px;
}

#header .top_bar {
    border-bottom: 1px solid #ddd;
}

#header .top_bar .inner {
    display: flex;
    justify-content: flex-end;
    line-height: 32px;
    font-size: 14px;
}

#header .top_bar .inner li {
    padding: 0 8px;
    border-right: 1px solid #ddd;
}

#header .head_wrap {
    display: flex;
    height: 110px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#header .head_wrap .inner {
    display: flex;
    align-items: center;
    width: 100%;
}

#gnb {
    margin: 0 0 0 auto;
}

#gnb>ul {
    display: flex;
    gap: 32px;
    height: 109px;
    align-items: center;
}

#gnb>ul>li>a {
    white-space: nowrap;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

header .mopen {
    display: none;
}

@media (max-width: 768px) {
    #header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: #fff;
    }

    #header h1 img {
        width: 240px;
    }

    #header .top_bar {
        border-bottom: 1px solid #ddd;
        display: none;
    }

    #header .top_bar .inner {
        display: flex;
        justify-content: flex-end;
        line-height: 32px;
        font-size: 14px;
    }

    #header .top_bar .inner li {
        padding: 0 8px;
        border-right: 1px solid #ddd;
    }

    #header .head_wrap {
        display: flex;
        height: 110px;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }

    #header .head_wrap .inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #header h1 {
        flex: 0 0 320px;


        position: relative;
        z-index: 1000;
    }

    #gnb {
        margin: 0 0 0 auto;


        position: fixed;
        top: 0;
        left: -100%;
        z-index: 99;
        background: #fff;
        width: calc(100% - 90px);
        height: 100vh;
        border-right: 1px solid #ddd;
        padding: 150px 24px 0 24px;
    }

    #gnb>ul {
        display: flex;
        height: 109px;
        align-items: center;

        flex-direction: column;
        gap: 0;
    }

    #gnb>ul>li>a {
        font-size: 18px;
        font-weight: 500;


        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    #gnb.on {
        left: 0;
    }

    #header .mopen {
        display: block;

        position: fixed;
        top: 40px;
        right: 30px;
        z-index: 999;
        padding: 3px 3px 0;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 3px;
        user-select: none;
    }

}

#main_visual {
    position: relative;
    height: 650px;
    background: url(../images/main_slider01.jpg)no-repeat center top/cover;
    z-index: 1;
}

#main_visual::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    background: url(../images/slogan.png)no-repeat;
    width: 100%;
    height: 100%;
}

#main_visual .main_slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    width: 600px;
}

#main_visual .main_slide .slick-dots {
    position: absolute;
    top: -40px;
    left: 0;
}

#main_visual .main_slide .slick-dots li {
    display: inline-block;
}

#main_visual .main_slide .slick-dots li.slick-active button {
    background: #337689;
}

#main_visual .main_slide .slick-dots li button {
    border: none;
    outline: none;
    background: #f4cb4f;
    font-size: 0;
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

#main_visual .main_slide .itm {
    height: 230px;
}

#main_visual .main_slide .itm strong {
    display: block;
    margin: 0 0 32px 0;
    font-size: 80px;
    font-weight: 800;

    color: transparent;
    background: linear-gradient(to right top, #00ccaa, #0049b6, #333);
    text-shadow: 1px 0 3px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    background-clip: text;
}

#main_visual .main_slide .itm span {
    display: block;
    margin: 0 0 14px 0;
    font-size: 18px;
    font-weight: 300;
    color: #0049b6;
}

#main_visual .main_slide .itm p {
    font-size: 16px;
    line-height: 20px;
}

@media (max-width: 768px) {
    #main_visual {
        position: relative;
        height: 530px;
        background: url(../images/main_slider01.jpg)no-repeat 88% center/cover;
        z-index: 1;
    }

    #main_visual::before {
        display: none;
    }

    #main_visual .main_slide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        margin: 0 0 0 -585px;
        width: 100%;
        left: 0;
        padding: 0 24px;
        transform: translate(0, -50%);
        margin: 0 0 0 0;
    }

    #main_visual .main_slide .slick-dots {
        position: absolute;
        top: -40px;
        left: 24px;
    }

    #main_visual .main_slide .slick-dots li {
        display: inline-block;
    }

    #main_visual .main_slide .slick-dots li.slick-active button {
        background: #337689;
    }

    #main_visual .main_slide .slick-dots li button {
        border: none;
        outline: none;
        background: #f4cb4f;
        font-size: 0;
        width: 12px;
        height: 12px;
        margin: 0 8px 0 0;
    }

    #main_visual .main_slide .itm {
        height: 230px;
    }

    #main_visual .main_slide .itm strong {
        display: block;
        margin: 0 0 15px 0;
        font-weight: 800;

        color: transparent;
        background: linear-gradient(to right top, #00ccaa, #0049b6, #333);
        text-shadow: 1px 0 3px rgba(255, 255, 255, 0.25);
        -webkit-background-clip: text;
        background-clip: text;



        font-size: 10vw;
        text-align: center;
    }

    #main_visual .main_slide .itm span {
        display: block;
        margin: 0 0 14px 0;
        font-weight: 400;
        color: #0049b6;


        font-size: 4.5vw;
        text-align: center;
    }

    #main_visual .main_slide .itm p {
        font-size: 16px;
        line-height: 20px;


        font-size: 4vw;
        text-align: center;
        line-height: 4vw;
    }
}




#main_customer {
    position: relative;
    margin: -100px 0 0 0;
    /* transform: translate(0, -100px); */
    z-index: 2;
}

#main_customer .inner {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

#main_customer .inner li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 180px;
    transition: height 0.5s;
}

#main_customer .inner li:not(.tel):hover {
    height: 200px;
}

#main_customer .inner li:not(.tel) a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 121px;
    height: 120px;
}

#main_customer .inner li a strong {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

#main_customer .inner li:nth-child(1) a {
    background: url(../images/icon_set_w.png) repeat-x 10px 0;
}

#main_customer .inner li:nth-child(2) a {
    background: url(../images/icon_set_w.png) repeat-x -88px 0;
}

#main_customer .inner li:nth-child(3) a {
    background: url(../images/icon_set_w.png) repeat-x -190px 0;
}

#main_customer .inner li:nth-child(4) a {
    background: url(../images/icon_set_w.png) repeat-x -295px 0;
}

#main_customer .inner li:nth-child(1) {
    background: #da544b;
}

#main_customer .inner li:nth-child(2) {
    background: #f4cb4f;
}

#main_customer .inner li:nth-child(3) {
    background: #337689;
}

#main_customer .inner li:nth-child(4) {
    background: #6fa476;
}

#main_customer .inner li.tel {
    position: relative;
    flex-direction: column;
    text-align: right;
    flex: 2;
    padding: 0 24px;
    background: #f6f6f6;
}

#main_customer .inner li.tel>* {
    display: block;
    align-self: stretch;
}

#main_customer .inner li.tel span {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-22px, -50%);
    padding: 16px;
    font-size: 32px;
    color: #fff;
    background: #da544b;
    border-radius: 50%;
}

#main_customer .inner li.tel a {
    display: block;
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 16px 0;
    color: transparent;
    background: linear-gradient(to right top, #00ccaa, #0049b6, #333);
    text-shadow: 1px 0 3px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    background-clip: text;
}

#main_customer .inner li.tel p {
    font-size: 14px;
    line-height: 18px;
}


@media (max-width: 768px) {
    #main_customer {
        position: relative;
        z-index: 2;
        margin: 0 0 0 0;
    }
    
    #main_customer .inner {
        display: flex;
        align-items: flex-end;
        height: 200px;


        flex-wrap: wrap;
        height: auto;
        padding: 0 0;
    }
    
    #main_customer .inner li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 180px;
        transition: height 0.5s;


        flex: 1 0 160px;
    }
    
    #main_customer .inner li:not(.tel):hover {
        height: 200px;


        height: 180px;
    }
    
    #main_customer .inner li:not(.tel) a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100px;
        height: 120px;
    }
    
    #main_customer .inner li a strong {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
    
    #main_customer .inner li:nth-child(1) a {
        background: url(../images/icon_set_w.png) repeat-x;
    }
    
    #main_customer .inner li:nth-child(2) a {
        background: url(../images/icon_set_w.png) repeat-x -100px 0;
    }
    
    #main_customer .inner li:nth-child(3) a {
        background: url(../images/icon_set_w.png) repeat-x -200px 0;
    }
    
    #main_customer .inner li:nth-child(4) a {
        background: url(../images/icon_set_w.png) repeat-x -300px 0;
    }
    
    #main_customer .inner li:nth-child(1) {
        background: #da544b;
    }
    
    #main_customer .inner li:nth-child(2) {
        background: #f4cb4f;
    }
    
    #main_customer .inner li:nth-child(3) {
        background: #337689;
    }
    
    #main_customer .inner li:nth-child(4) {
        background: #6fa476;
    }
    
    #main_customer .inner li.tel {
        position: relative;
        flex-direction: column;
        text-align: right;
        flex: 2;
        padding: 0 24px;
        background: #f6f6f6;
    }
    
    #main_customer .inner li.tel>* {
        display: block;
        align-self: stretch;
    }
    
    #main_customer .inner li.tel span {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-22px, -50%);
        padding: 16px;
        font-size: 32px;
        color: #fff;
        background: #da544b;
        border-radius: 50%;
    }
    
    #main_customer .inner li.tel a {
        font-size: 32px;
        font-weight: 800;
        margin: 0 0 16px 0;
    }
    
    #main_customer .inner li.tel p {
        font-size: 14px;
        line-height: 18px;
    }
}


.sec {
    padding: 80px 0;
}

#main_content {
    background: linear-gradient(transparent 50%, #f9f9f9 50%);
}

#main_content .inner {
    display: flex;
    gap: 30px;
}

#main_content figure {
    flex: 1;
}

#main_content .img_box {
    border-radius: 0 32px;
    overflow: hidden;
    margin: 0 0 32px 0;
}

#main_content figure h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
}

#main_content figure h3::before {
    content: "more";
    position: absolute;
    top: -60px;
    right: 20px;
    font-size: 12px;
    color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f4cb4f;

    text-align: center;
    line-height: 56px;
    text-transform: uppercase;
}

#main_content figure h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin: 16px 0 22px 0;
    background: #da544b;
}

#main_content figure p {
    line-height: 18px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .sec {
        padding: 80px 0;
    }
    
    #main_content {
        background: linear-gradient(transparent 50%, #f9f9f9 50%);
    }
    
    #main_content .inner {
        display: flex;
        gap: 30px;



        flex-direction: column;
    }
    
    #main_content figure {
        flex: 1;
    }
    
    #main_content .img_box {
        border-radius: 0 32px;
        overflow: hidden;
        margin: 0 0 32px 0;
    }
    
    #main_content figure h3 {
        position: relative;
        font-size: 24px;
        font-weight: 500;
    }
    
    #main_content figure h3::before {
        content: "more";
        position: absolute;
        top: -60px;
        right: 20px;
        font-size: 12px;
        color: #fff;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #f4cb4f;
    
        text-align: center;
        line-height: 56px;
        text-transform: uppercase;
    }
    
    #main_content figure h3::after {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        margin: 16px 0 22px 0;
        background: #da544b;
    }
    
    #main_content figure p {
        line-height: 18px;
        font-size: 14px;
    }
}




#main_notice .inner {
    display: flex;
    gap: 30px;
}

#main_notice .inner>* {
    flex: 1;
}

#main_notice h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #ddd;
}

#main_notice h3>a>span {
    font-size: 16px;
    float: right;
    background: #eee;
    border-radius: 50%;
    padding: 4px;
}

#main_notice .txt_box {
    background: #f9f9f9;
    padding: 15px;
}

#main_notice .txt_box strong {
    display: block;
    font-weight: 500;
    margin: 0 0 15px 0;
}

#main_notice .txt_box p {
    width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 15px 0;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   color: #888;
}
#main_notice .txt_box span {
    font-size: 14px;
    color: #888;
}

@media (max-width: 768px) {
    #main_notice .inner {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    
    #main_notice .inner>* {
        flex: 1;
    }
    
    #main_notice h3 {
        font-size: 24px;
        font-weight: 600;
        padding: 0 0 8px 0;
        margin: 0 0 8px 0;
        border-bottom: 1px solid #ddd;
    }
    
    #main_notice h3 span {
        font-size: 20px;
        float: right;
        background: #eee;
        border-radius: 50%;
        padding: 4px;
    }
    
    #main_notice .txt_box p {
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 15px 0;
        display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       color: #888;
    }
}






#footer {
    border-top: 1px solid #eee;
    background: #f9f9f9;
    
    color: #666;
    text-align: center;
}

#footer .addr {
    margin: 0 0 8px 0;
}

#footer ul {
    margin: 0 0 8px 0;
    font-size: 0;
}

#footer ul>li {
    display: inline-block;
    font-size: 16px;
}

#footer ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 12px;
}

#footer ul>li a {
    color: #dca348;
    font-weight: 500;
}

@media (max-width: 768px) {
    #footer {
        border-top: 1px solid #eee;
        background: #f9f9f9;
    
        text-align: center;
    }
    
    #footer .addr {
        margin: 0 0 8px 0;
    }
    
    #footer ul {
        margin: 0 0 8px 0;
        font-size: 0;
    }
    
    #footer ul>li {
        display: inline-block;
        font-size: 16px;


        display: block;
        margin: 0 0 4px 0;
    }
    
    #footer ul>li~li::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 12px;
        background: #ddd;
        margin: 0 12px;


        display: none;
    }
}